h2{
	text-align: center;
}
h3{
	display: inline;
	border: 2px solid #0071BC;
	padding: 5px 10px;
	text-align: center;
}
.button-container{
	margin: 40px;
	display: inline-block;
	width: 100%;
}
.inner{
	width: 50%;
	margin: 0 auto;
}